.emoticon {
	height: 52px;
	width: 52px;
}

.play {
	background: url('../../assets/minesweeper-sprites.png') -1px -49px;
}

.push {
	background: url('../../assets/minesweeper-sprites.png') 222px -49px;
}

.hold {
	background: url('../../assets/minesweeper-sprites.png') 169px -49px;
}

.win {
	background: url('../../assets/minesweeper-sprites.png') 115px -49px;
}

.lose {
	background: url('../../assets/minesweeper-sprites.png') 61px -49px;
}