* {
	box-sizing: border-box;
}

.App {
	background-color: rgb(189, 189, 189);
	background-image: url('./assets/minesweeper-bg.png');
	margin: 0 auto;
	height: 636px;
	width: 548px;
	padding: 19px;
	display: grid;
	gap: 19px;
	grid-template-rows: 66px 1fr;
}

.upperBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 12px;
}